footer {
  background-color: $darkBlue;
}

.footer {
  background-color: $darkBlue;
  color: $white;
  text-align: center;
  padding: 2.5rem;

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "logo links1 links2 cta"
        "social links1 links2 copyright";
      justify-items: start;
      align-items: stretch;
    }
  }

  a {
    color: $white;
  }
  &__logo {
    display: inline-block;

    @include breakpoint-down(large) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social {
    @include breakpoint-down(large) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: social;
      align-self: end;
    }
    a {
      display: inline-block;
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25;
    font-weight: 300;
    font-size: 0.9375rem;

    @include breakpoint-up(large) {
      align-items: flex-start;
      padding-left: 5rem;
    }

    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }
    &.col2 {
      @include breakpoint-down(large) {
        margin-bottom: 1.875rem;
      }
      @include breakpoint-up(large) {
        grid-area: links2;
      }
    }
  }
  &__cta {
    @include breakpoint-up(large) {
      grid-area: cta;
      justify-self: end;
      text-align: right;
    }
    a.button {
      @include breakpoint-down(large) {
        margin-bottom: 1.875rem;
      }
    }
  }
  &__copyright {
    font-size: 0.9375rem;
    color: $grayishBlue;
    @include breakpoint-up(large) {
      grid-area: copyright;
      justify-self: end;
      text-align: right;
      align-self: end;
    }
  }
}
